# public/.htaccess
DirectoryIndex index.php

RewriteEngine On

# Pozwól na dostęp do plików statycznych
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Przekieruj na index.php
RewriteRule ^(.*)$ index.php [QSA,L]

php_value max_execution_time 300
php_value memory_limit 256M
