/* style.css */

@import url('themes/sos.css');
@import url('themes/am.css');
@import url('themes/ru.css');
@import url('themes/zsi.css');

@import url('layout.css');
@import url('components.css');
@import url('wiki.css');
@import url('admin.css');
@import url('base.css');
