/* PURPLE – piaskowo-¿ó³ty */
html[data-theme="zsi"] {
    --bg-page: #110b05;
    --bg-surface: #1c1409;
    --bg-surface-alt: #24190c;

    --card-bg: #21160a;
    --card-bg-soft: #261a0c;

    --text-primary: #fef3c7;
    --text-secondary: #fde68a;
    --text-muted: #eab308;

    --accent-main: #f59e0b;
    --accent-main-soft: #d97706;
    --accent-strong: #b45309;

    --border-subtle: #78480a;
    --border-strong: #3b260c;
    --border-color: #78480a;

    --input-bg: #150f06;
    --input-border: #2a1c0a;
    --input-border-focus: #f59e0b;

    --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.45);
    --shadow-medium: 0 6px 16px rgba(0, 0, 0, 0.55);

    --success-bg: #1f2608;
    --success-border: #84cc16;
    --success-text: #d9f99d;

    --error-bg: #2c140a;
    --error-border: #f97316;
    --error-text: #fed7aa;

    --warning-bg: #2f2008;
    --warning-border: #facc15;
    --warning-text: #fef9c3;

    --info-bg: #1b1406;
    --info-border: #fbbf24;
    --info-text: #fee9a6;
}
